ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_8_768x768 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_8_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_8_512x512 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_8_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_8_240x240 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_8_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_8_2048x2048 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_8_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_8_1024x1024 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_8_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_8 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_8.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_6_768x768 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_6_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_6_512x512 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_6_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_6_240x240 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_6_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_6_2048x2048 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_6_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_6_1024x1024 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_6_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_6 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_6.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_5.2_(black)_768x768 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_5.2_(black)_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_5.2_(black)_512x512 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_5.2_(black)_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_5.2_(black)_240x240 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_5.2_(black)_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_5.2_(black)_2048x2048 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_5.2_(black)_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_5.2_(black)_1024x1024 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_5.2_(black)_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_un_transport_pictogram_-_5.2_(black) {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/UN_transport_pictogram_-_5.2_(black).svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_adr_5.1_768x768 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/ADR_5.1_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_adr_5.1_512x512 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/ADR_5.1_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_adr_5.1_240x240 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/ADR_5.1_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_adr_5.1_2048x2048 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/ADR_5.1_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_adr_5.1_1024x1024 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/ADR_5.1_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_other_ghs_transport_classes_adr_5.1 {
  background-image: url('../transport_pictograms/other_ghs_transport_classes/ADR_5.1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_9_768x768 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_9_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_9_512x512 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_9_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_9_240x240 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_9_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_9_2048x2048 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_9_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_9_1024x1024 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_9_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_9 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_9.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7e_768x768 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7E_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7e_512x512 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7E_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7e_240x240 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7E_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7e_2048x2048 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7E_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7e_1024x1024 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7E_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7e {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7E.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7c_768x768 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7C_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7c_512x512 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7C_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7c_240x240 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7C_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7c_2048x2048 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7C_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7c_1024x1024 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7C_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7c {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7C.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7b_768x768 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7B_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7b_512x512 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7B_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7b_240x240 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7B_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7b_2048x2048 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7B_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7b_1024x1024 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7B_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7b {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7B.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7a_768x768 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7A_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7a_512x512 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7A_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7a_240x240 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7A_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7a_2048x2048 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7A_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7a_1024x1024 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7A_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_7a {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_7A.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_6.2_768x768 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_6.2_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_6.2_512x512 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_6.2_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_6.2_240x240 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_6.2_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_6.2_2048x2048 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_6.2_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_6.2_1024x1024 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_6.2_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_non-ghs_transport_pictograms_adr_6.2 {
  background-image: url('../transport_pictograms/non-ghs_transport_pictograms/ADR_6.2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_classes_3_and_4__flammable_liquids_and_solids_adr_3_768x768 {
  background-image: url('../transport_pictograms/classes_3_and_4__flammable_liquids_and_solids/ADR_3_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_classes_3_and_4__flammable_liquids_and_solids_adr_3_512x512 {
  background-image: url('../transport_pictograms/classes_3_and_4__flammable_liquids_and_solids/ADR_3_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_classes_3_and_4__flammable_liquids_and_solids_adr_3_240x240 {
  background-image: url('../transport_pictograms/classes_3_and_4__flammable_liquids_and_solids/ADR_3_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_classes_3_and_4__flammable_liquids_and_solids_adr_3_2048x2048 {
  background-image: url('../transport_pictograms/classes_3_and_4__flammable_liquids_and_solids/ADR_3_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_classes_3_and_4__flammable_liquids_and_solids_adr_3_1024x1024 {
  background-image: url('../transport_pictograms/classes_3_and_4__flammable_liquids_and_solids/ADR_3_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_classes_3_and_4__flammable_liquids_and_solids_adr_3 {
  background-image: url('../transport_pictograms/classes_3_and_4__flammable_liquids_and_solids/ADR_3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.3_768x768 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.3_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.3_512x512 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.3_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.3_240x240 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.3_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.3_2048x2048 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.3_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.3_1024x1024 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.3_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.3 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.2_768x768 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.2_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.2_512x512 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.2_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.2_240x240 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.2_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.2_2048x2048 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.2_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.2_1024x1024 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.2_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.2 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.1_768x768 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.1_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.1_512x512 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.1_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.1_240x240 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.1_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.1_2048x2048 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.1_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.1_1024x1024 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.1_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_2__gases_adr_2.1 {
  background-image: url('../transport_pictograms/class_2__gases/ADR_2.1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1_768x768 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1_512x512 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1_240x240 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1_2048x2048 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1_1024x1024 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.6_768x768 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.6_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.6_512x512 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.6_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.6_240x240 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.6_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.6_2048x2048 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.6_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.6_1024x1024 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.6_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.6 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.6.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.5_768x768 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.5_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.5_512x512 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.5_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.5_240x240 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.5_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.5_2048x2048 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.5_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.5_1024x1024 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.5_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.5 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.4_768x768 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.4_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.4_512x512 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.4_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.4_240x240 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.4_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.4_2048x2048 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.4_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.4_1024x1024 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.4_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-transport_pictograms_class_1__explosives_adr_1.4 {
  background-image: url('../transport_pictograms/class_1__explosives/ADR_1.4.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs05_corrosive_ghs-pictogram-acid_768x768 {
  background-image: url('../physical_hazards_pictograms/ghs05_corrosive/GHS-pictogram-acid_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs05_corrosive_ghs-pictogram-acid_512x512 {
  background-image: url('../physical_hazards_pictograms/ghs05_corrosive/GHS-pictogram-acid_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs05_corrosive_ghs-pictogram-acid_240x240 {
  background-image: url('../physical_hazards_pictograms/ghs05_corrosive/GHS-pictogram-acid_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs05_corrosive_ghs-pictogram-acid_2048x2048 {
  background-image: url('../physical_hazards_pictograms/ghs05_corrosive/GHS-pictogram-acid_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs05_corrosive_ghs-pictogram-acid_1024x1024 {
  background-image: url('../physical_hazards_pictograms/ghs05_corrosive/GHS-pictogram-acid_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs05_corrosive_ghs-pictogram-acid {
  background-image: url('../physical_hazards_pictograms/ghs05_corrosive/GHS-pictogram-acid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_768x768 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressedgas/GHS-pictogram-bottle_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_512x512 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressedgas/GHS-pictogram-bottle_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_240x240 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressedgas/GHS-pictogram-bottle_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_2048x2048 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressedgas/GHS-pictogram-bottle_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_1024x1024 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressedgas/GHS-pictogram-bottle_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle {
  background-image: url('../physical_hazards_pictograms/ghs04_compressedgas/GHS-pictogram-bottle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_768x768 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressed gas/GHS-pictogram-bottle_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_512x512 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressed gas/GHS-pictogram-bottle_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_240x240 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressed gas/GHS-pictogram-bottle_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_2048x2048 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressed gas/GHS-pictogram-bottle_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle_1024x1024 {
  background-image: url('../physical_hazards_pictograms/ghs04_compressed gas/GHS-pictogram-bottle_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs04_compressedgas_ghs-pictogram-bottle {
  background-image: url('../physical_hazards_pictograms/ghs04_compressed gas/GHS-pictogram-bottle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs03_oxidizing_ghs-pictogram-rondflam_768x768 {
  background-image: url('../physical_hazards_pictograms/ghs03_oxidizing/GHS-pictogram-rondflam_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs03_oxidizing_ghs-pictogram-rondflam_512x512 {
  background-image: url('../physical_hazards_pictograms/ghs03_oxidizing/GHS-pictogram-rondflam_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs03_oxidizing_ghs-pictogram-rondflam_240x240 {
  background-image: url('../physical_hazards_pictograms/ghs03_oxidizing/GHS-pictogram-rondflam_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs03_oxidizing_ghs-pictogram-rondflam_2048x2048 {
  background-image: url('../physical_hazards_pictograms/ghs03_oxidizing/GHS-pictogram-rondflam_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs03_oxidizing_ghs-pictogram-rondflam_1024x1024 {
  background-image: url('../physical_hazards_pictograms/ghs03_oxidizing/GHS-pictogram-rondflam_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs03_oxidizing_ghs-pictogram-rondflam {
  background-image: url('../physical_hazards_pictograms/ghs03_oxidizing/GHS-pictogram-rondflam.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs02_flammable_ghs-pictogram-flamme_768x768 {
  background-image: url('../physical_hazards_pictograms/ghs02_flammable/GHS-pictogram-flamme_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs02_flammable_ghs-pictogram-flamme_512x512 {
  background-image: url('../physical_hazards_pictograms/ghs02_flammable/GHS-pictogram-flamme_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs02_flammable_ghs-pictogram-flamme_240x240 {
  background-image: url('../physical_hazards_pictograms/ghs02_flammable/GHS-pictogram-flamme_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs02_flammable_ghs-pictogram-flamme_2048x2048 {
  background-image: url('../physical_hazards_pictograms/ghs02_flammable/GHS-pictogram-flamme_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs02_flammable_ghs-pictogram-flamme_1024x1024 {
  background-image: url('../physical_hazards_pictograms/ghs02_flammable/GHS-pictogram-flamme_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs02_flammable_ghs-pictogram-flamme {
  background-image: url('../physical_hazards_pictograms/ghs02_flammable/GHS-pictogram-flamme.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs01_explosive_ghs-pictogram-explos_768x768 {
  background-image: url('../physical_hazards_pictograms/ghs01_explosive/GHS-pictogram-explos_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs01_explosive_ghs-pictogram-explos_512x512 {
  background-image: url('../physical_hazards_pictograms/ghs01_explosive/GHS-pictogram-explos_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs01_explosive_ghs-pictogram-explos_240x240 {
  background-image: url('../physical_hazards_pictograms/ghs01_explosive/GHS-pictogram-explos_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs01_explosive_ghs-pictogram-explos_2048x2048 {
  background-image: url('../physical_hazards_pictograms/ghs01_explosive/GHS-pictogram-explos_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs01_explosive_ghs-pictogram-explos_1024x1024 {
  background-image: url('../physical_hazards_pictograms/ghs01_explosive/GHS-pictogram-explos_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_hazards_pictograms_ghs01_explosive_ghs-pictogram-explos {
  background-image: url('../physical_hazards_pictograms/ghs01_explosive/GHS-pictogram-explos.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_and_health_hazard_pictograms_ghs05_corrosive_ghs-pictogram-acid_768x768 {
  background-image: url('../physical_and_health_hazard_pictograms/ghs05_corrosive/GHS-pictogram-acid_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_and_health_hazard_pictograms_ghs05_corrosive_ghs-pictogram-acid_512x512 {
  background-image: url('../physical_and_health_hazard_pictograms/ghs05_corrosive/GHS-pictogram-acid_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_and_health_hazard_pictograms_ghs05_corrosive_ghs-pictogram-acid_240x240 {
  background-image: url('../physical_and_health_hazard_pictograms/ghs05_corrosive/GHS-pictogram-acid_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_and_health_hazard_pictograms_ghs05_corrosive_ghs-pictogram-acid_2048x2048 {
  background-image: url('../physical_and_health_hazard_pictograms/ghs05_corrosive/GHS-pictogram-acid_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_and_health_hazard_pictograms_ghs05_corrosive_ghs-pictogram-acid_1024x1024 {
  background-image: url('../physical_and_health_hazard_pictograms/ghs05_corrosive/GHS-pictogram-acid_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-physical_and_health_hazard_pictograms_ghs05_corrosive_ghs-pictogram-acid {
  background-image: url('../physical_and_health_hazard_pictograms/ghs05_corrosive/GHS-pictogram-acid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_768x768 {
  background-image: url('../health_hazards_pictograms/ghs08_serioushealthhazard/GHS-pictogram-silhouette_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_512x512 {
  background-image: url('../health_hazards_pictograms/ghs08_serioushealthhazard/GHS-pictogram-silhouette_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_240x240 {
  background-image: url('../health_hazards_pictograms/ghs08_serioushealthhazard/GHS-pictogram-silhouette_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_2048x2048 {
  background-image: url('../health_hazards_pictograms/ghs08_serioushealthhazard/GHS-pictogram-silhouette_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_1024x1024 {
  background-image: url('../health_hazards_pictograms/ghs08_serioushealthhazard/GHS-pictogram-silhouette_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette {
  background-image: url('../health_hazards_pictograms/ghs08_serioushealthhazard/GHS-pictogram-silhouette.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_768x768 {
  background-image: url('../health_hazards_pictograms/ghs08_serious health hazard/GHS-pictogram-silhouette_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_512x512 {
  background-image: url('../health_hazards_pictograms/ghs08_serious health hazard/GHS-pictogram-silhouette_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_240x240 {
  background-image: url('../health_hazards_pictograms/ghs08_serious health hazard/GHS-pictogram-silhouette_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_2048x2048 {
  background-image: url('../health_hazards_pictograms/ghs08_serious health hazard/GHS-pictogram-silhouette_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette_1024x1024 {
  background-image: url('../health_hazards_pictograms/ghs08_serious health hazard/GHS-pictogram-silhouette_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs08_serioushealthhazard_ghs-pictogram-silhouette {
  background-image: url('../health_hazards_pictograms/ghs08_serious health hazard/GHS-pictogram-silhouette.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_768x768 {
  background-image: url('../health_hazards_pictograms/ghs07_healthhazard_hazardoustoozonelayer/GHS-pictogram-exclam_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_512x512 {
  background-image: url('../health_hazards_pictograms/ghs07_healthhazard_hazardoustoozonelayer/GHS-pictogram-exclam_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_240x240 {
  background-image: url('../health_hazards_pictograms/ghs07_healthhazard_hazardoustoozonelayer/GHS-pictogram-exclam_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_2048x2048 {
  background-image: url('../health_hazards_pictograms/ghs07_healthhazard_hazardoustoozonelayer/GHS-pictogram-exclam_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_1024x1024 {
  background-image: url('../health_hazards_pictograms/ghs07_healthhazard_hazardoustoozonelayer/GHS-pictogram-exclam_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam {
  background-image: url('../health_hazards_pictograms/ghs07_healthhazard_hazardoustoozonelayer/GHS-pictogram-exclam.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_768x768 {
  background-image: url('../health_hazards_pictograms/ghs07_health hazard_hazardous to ozone layer/GHS-pictogram-exclam_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_512x512 {
  background-image: url('../health_hazards_pictograms/ghs07_health hazard_hazardous to ozone layer/GHS-pictogram-exclam_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_240x240 {
  background-image: url('../health_hazards_pictograms/ghs07_health hazard_hazardous to ozone layer/GHS-pictogram-exclam_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_2048x2048 {
  background-image: url('../health_hazards_pictograms/ghs07_health hazard_hazardous to ozone layer/GHS-pictogram-exclam_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam_1024x1024 {
  background-image: url('../health_hazards_pictograms/ghs07_health hazard_hazardous to ozone layer/GHS-pictogram-exclam_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs07_healthhazard_hazardoustoozonelayer_ghs-pictogram-exclam {
  background-image: url('../health_hazards_pictograms/ghs07_health hazard_hazardous to ozone layer/GHS-pictogram-exclam.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs06_toxic_ghs-pictogram-skull_768x768 {
  background-image: url('../health_hazards_pictograms/ghs06_toxic/GHS-pictogram-skull_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs06_toxic_ghs-pictogram-skull_512x512 {
  background-image: url('../health_hazards_pictograms/ghs06_toxic/GHS-pictogram-skull_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs06_toxic_ghs-pictogram-skull_240x240 {
  background-image: url('../health_hazards_pictograms/ghs06_toxic/GHS-pictogram-skull_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs06_toxic_ghs-pictogram-skull_2048x2048 {
  background-image: url('../health_hazards_pictograms/ghs06_toxic/GHS-pictogram-skull_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs06_toxic_ghs-pictogram-skull_1024x1024 {
  background-image: url('../health_hazards_pictograms/ghs06_toxic/GHS-pictogram-skull_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-health_hazards_pictograms_ghs06_toxic_ghs-pictogram-skull {
  background-image: url('../health_hazards_pictograms/ghs06_toxic/GHS-pictogram-skull.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_768x768 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardoustotheenvironment/GHS-pictogram-pollu_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_512x512 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardoustotheenvironment/GHS-pictogram-pollu_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_240x240 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardoustotheenvironment/GHS-pictogram-pollu_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_2048x2048 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardoustotheenvironment/GHS-pictogram-pollu_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_1024x1024 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardoustotheenvironment/GHS-pictogram-pollu_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardoustotheenvironment/GHS-pictogram-pollu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_768x768 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardous to the environment/GHS-pictogram-pollu_768x768.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_512x512 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardous to the environment/GHS-pictogram-pollu_512x512.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_240x240 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardous to the environment/GHS-pictogram-pollu_240x240.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_2048x2048 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardous to the environment/GHS-pictogram-pollu_2048x2048.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu_1024x1024 {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardous to the environment/GHS-pictogram-pollu_1024x1024.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
ghs-environmental_hazards_pictograms_ghs09_hazardoustotheenvironment_ghs-pictogram-pollu {
  background-image: url('../environmental_hazards_pictograms/ghs09_hazardous to the environment/GHS-pictogram-pollu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
